*{
	box-sizing: border-box;
}

h1{
	color: red;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;

}

h2{
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	width: 100px;
	padding-top: 0px;
	margin-top: 0px;
	float: right; 
	border-left: 1px solid black;
	border-bottom: 1px solid black;

}

#red{
	background-color: red;
}

#yellow{
	background-color: yellow;
}

#green{
	background-color: green;
}


p{
	font-family: Arial, Helvetica, sans-serif;
	clear: both;
	padding: 0px 20px 0px 20px;
	
}


section{
	background-color: gray;
	border: 1px solid #000;

}

/******* Large devices **********/

@media (min-width: 992px ){
	section{
	border: 1px solid #000;
	width: 30%;
	float: left; 
	margin: 1.66%;
	
	}

}



/******* Medium devices **********/

@media (min-width: 768px) and (max-width: 991px){
	.inline{
	border: 1px solid #000;
	width: 47%;
	float: left; 
	margin: 0% 1.5% 3% 1.5%;
	
	}

	#sushi{
		clear: left;
		margin: 0% 1.5% 0% 1.5%;
		

	}


}



/******* Small devices **********/


@media (max-width: 767px){
	section{
		margin:0px 20px 50px 20px;
		clear: both;
	}

}

